.alert {
  background-color: lightgray;
  border: 2px solid darkgray;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 10px 0;
  padding-left: 50px;
  position: relative;
  width: 100%;
}
.alert::before {
  content: "";
  font-size: 25px;
  left: 25px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.alert__text {
  font-weight: bold;
}
